<h1>Products</h1>
<ul>
    <% @products.each do |prod| %>
     <li>
       <h2><%= raw prod.title %></h2>
       <p><%= link_to "Click here to buy", prod.link %></p>
       <%= image_tag prod.image_url %>
     </li>
     <% end %>
</ul>
